body, html {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column; /* Ensure vertical stacking */
    justify-content: flex-start;
}

.control-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
}

.control-panel label, .control-panel button {
    margin-bottom: 10px;
    width: 100%;
}

.gene-inputs label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.gene-inputs input {
    width: 50px;
    margin-left: 10px;
}

/* Container for Parent and Children Grid */
#parentContainer {
    display: flex;
    justify-content: center; /* Center the parent canvas */
    margin-bottom: 20px;
}

/* Grid for Children */
#childrenContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns by default */
    grid-gap: 10px;
    justify-items: center; /* Center children in their grid cells */
}

canvas {
    background-color: black;
    display: block;
    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: 220px;
    height: auto;
    border: 2px dashed red;
}

.parent {
    border: 3px solid white;
}

.child {
    border: 1px solid gray;
    border: 2px dashed blue;
}









