body, html {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
}

.control-panel {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.biomorph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-top: 20px;
    margin-left: 200px; /* Leave space for control panel */
    margin-right: 200px; /* Leave space for input fields */
}

#childrenContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

canvas {
    border: none;
    margin: 10px;
    background-color: black;
}

.gene-inputs {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    max-height: 90%;
    overflow-y: auto; /* Add scroll if the input fields overflow */
}

.gene-inputs label {
    margin: 5px 0;
    color: white;
}

.gene-inputs input {
    width: 50px;
    text-align: center;
    margin-top: 5px;
}

#updateBiomorph {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
}


